{% extends 'base.html' %}
{% block head %}
    <title>Add Subjects</title>
    <style>
        .my-custom-scrollbar {
          position: relative;
          height: 200px;
          overflow: auto;
      }
      .table-wrapper-scroll-y {
          display: block;
      }
       </style>
{% endblock %}

{% block body %}

<div class=" row" >
    {{form.hidden_tag()}}
    
    <!-- first Column -->
    <div class="col-3 border-top border-end rounded-end" style="background-color: #344ba0;height: 100vh;">
  
      <div class="mt-5 ps-3">
        <span style="margin: 0; padding: 0; color: #f0c76f; margin-left: 1rem; padding-left: 1rem;"><i> WELCOME {{user_name}}</i></span>
        <div style="text-align: center;margin-bottom: 3rem;">
          <a href="{{url_for('superLogOut')}}" class="fs-4 border-bottom "><i class="fa-solid fa-power-off" style="color: #f0c76f;"></i></a>
        </div>
        
          <ul class="">
            
            <li class="pb-5" style="list-style: none;">
              <a href=""><i class="fa-solid fa-gears" style="color: #f0c76f;"></i></a>
            <a href="/superAdmin" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Admin(HOD)</a>
            
            </li>
            <hr>
            <li class="pb-5" style="list-style: none;">
              <i class="fa-solid fa-calendar-plus" style="color: #f0c76f;"></i>
            <a href="/exams" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Update Time Tables</a>
            
            </li>
            <hr>
            <li class="pb-5" style="list-style: none;">
              <i class="fa-solid fa-calendar-plus" style="color: #f0c76f;"></i>
            <a href="/addSubjects" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Insert New Subjects</a>
            
            </li>
            
            <hr>
            
            <li class="pb-5" style="list-style: none;">
              <i class="fa-solid fa-file-export" style="color: #f0c76f;"></i>
            <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Reports</a>
            
            </li>
            <hr>
            <li class="" style="list-style: none;">
              <i class="fa-solid fa-chart-line" style="color: #f0c76f;"></i>
            <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Statistics</a>
            
            </li>
            
               
          </ul>
  
      </div>
    </div> 
    <!-- End of First Column -->
  
    <div class="col">
  
      <!-- first Card -->
      <!-- table -->
      <div class="card bg-body-tertiary pt-3">
       
        <div class="card">
            <div class="card-header">
              <!-- Featured -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Add New Subjects</h5>
               <form action="/addSubjects" method="POST">
                {{ form.csrf_token }}
                                <!-- subject_name -->
                                <div class="form-floating w-75">
                                    {{form.subject_name(class="form-control", id="subject_name")}}
                                    <label for="floatingInput">{{form.subject_name.label}}</label>
                                </div>
                            
                                <!-- subject_code -->
                                <div class="form-floating w-75">
                                    {{form.subject_code(class="form-control", id="subject_code", placeholder="HNDIT2401")}}
                                    <label for="floatingInput">{{form.subject_code.label}}</label>

                                </div>

                            
                                <div class="form-floating  w-75">
                                    {{form.year(class="form-control", id="year")}}
                                    <label for="floatingInput">{{form.year.label}}</label>

                                </div>

                                
                            
                                <div class="form-floating  w-75">
                                    {{form.semester(class="form-control", id="semester")}}
                                    <label for="floatingInput">{{form.semester.label}}</label>

                                </div>
                                
                           
                                <div class="form-floating w-50">
                                    {{form.update(class="form-control btn btn-info", id="update")}}
                                    <label for="floatingInput">{{form.update.label}}</label>

                                </div>
                    
               </form>
            </div>
          </div>

      </div>
      <!-- End of First card -->
  
      <!-- Second card -->
      
  
      
      <!-- end of Second card bundle -->
      
    </div>
    <!-- End of Second Column -->
    
  </div>
{% endblock %}