{% extends 'base.html' %}
{% block head %}

<title>Log In</title>
{% endblock %}


{% block content%}

<fieldset  class="container p-3 mb-2 bg-light text-dark pt-5 mt-5">
  <legend><span><i>Log In</i></span></legend>
  <form action="/userlog" method="POST" class="container pt-5">
    {{form.hidden_tag()}}
    <div class="form-floating mb-3">
      <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
      {{form.user_name(class="form-control" ,id="floatingInput" ,placeholder="name@example.com")}}
      <label for="floatingInput">{{form.user_name.label}}</label>
    </div>
    <div class="form-floating">
      <!-- <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
       -->
       {{form.password(class="form-control", id="floatingPassword", placeholder="Password")}}
      <label for="floatingPassword">{{form.password.label}}</label>
    </div>
    <div class="mb-3">
      {{form.submit(class="btn btn-outline-primary")}}
      <input type="reset" value="Reset" class="btn btn-outline-warning">
    </div>
    <p><span><a href="{{url_for('userSign')}}"><span><i>Not have an Account !</i></span></a></span></p>
    

  </form>

</fieldset>



{% endblock %}



